html {
    height: 100%;
    }



h1 {
    text-align: center;
    font-size: 300%;
    font-family: fantasy; 
    text-color: #8affc8; 
    
}

h2 {
    text-align: center;
    font-size: 110%;
    font: bold;
    
}

h3 {
    
    font-size: 620%;
    text-color: white;
    
}



a {
    color: white;
    text-decoration: none !important;
    
}

/********* stole *********/

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 650px;
  margin-top: -25px;
  margin-left: -325px;
  text-align: center;
  
    
}

.chair {
    width: 65px;
    height: 100px;
    background-color: white; 
    
}

/********* personer *******/

.person {
    top: 10%;
    position:fixed;
    left:33%;
    
}

.positionRight {
    top: 10%;
    position: fixed;
    left: 40%;
    
}

.vinder {
    top: 30%;
    left: 50%;
    
}


.dead{
    -webkit-transition: top 2s 0s ease-in-out, left 2s 2s ease-in-out;
    -moz-transition: top 2s 0s ease-in-out, left 2s 2s ease-in-out;
    transition: top 2s 0s ease-in-out, left 2s 2s ease-in-out;
}


.face {
    width: 70px;
    height: 70px;
    position:absolute;
    top:15px;
    left: 10px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px; 
}

input.face {
    text-indent:-9999px;
    background:silver;
    border:none;
    color:silver;
}


.face-dead{
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
     transform:rotate(270deg);
     margin-top: 40px;
     margin-left:-40px;
}

.stickman {
    width: 75%;
    
}

.ansigt {
    width: 73px;
    height: 70px;
    position:absolute;
    top: 10px;
    left: 10px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px; 
    
}
    



/****** kode taget fra:  http://www.ilikepixels.co.uk/drop/bubbler/  ********/

.bubble {
    position: fixed;
    width: 22.8%;
    height: 25%;
    padding: 1.02%;
    background: #FFFFFF;
    border: #7E7F7F solid 7px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    left: 2%;
    top: 10%;

}

.bubble:after {
    content: "";
    position: fixed;
    top: 14.25%;
    left: 26.9%;
    border-style: solid;
    border-width: 20px 0 20px 73px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before {
    content: "";
    position: fixed;
    top: 13.5%;
    left: 27.4%;
    border-style: solid;
    border-width: 26px 0 26px 79px;
    border-color: transparent #7E7F7F;
    display: block;
    width: 0;
    z-index: 0;
}


input.close-btn-48 {
    top: 20px;
    left: 13px;
    background-color:silver;
}

input.close-btn-48:before {
  content: "+";
  }




/*********** betjeningspanel *************/

.bottom {
    background-color: none;
    text-align: center;
    position: fixed;
    bottom: 11%;
    left: 50%;
    width: 20%;
    margin-left: -10%;
    height: 8%;
    border-width: 6px;
    border-style: solid;
    border-color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;


  
}

.button {
    width: 18%;
    padding: 2%;
    
    
}

.tooltip span{
  display: none;
}


.tooltip:hover span{
  padding: 0px;
  display: table;
  font-size: 18px;
  color: black;
  text-decoration: none !important;
  background-color: none;
  border: solid black 3px;
  bottom: 30px;
  position: fixed;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  border-radius: 10px;
}


.tooltip:hover span:before{
    border:solid;
    border-color: black transparent; 
    border-width: 0px 10px 20px 8px;
    bottom: 21px;
    content:"";
    display:block;
    position:absolute;
    z-index:99;
}


.tip-left:hover span:before{
   left:10%; 
}


.tip-center:hover span:before{
   left:45%; 
}


.tip-right:hover span:before{
   left:80%; 
}


/*********** knap til "?" i h¿jre hj¿rne ********/

.about {
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 36px;
    height: 36px;
    background-color: black;
    border-color: white;
    text-align: center;
    vertical-align: middle;
    line-height: .0em;
   border: 3.63636363636364px solid #ffffff;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);

    
}

.about > span {
    text-align: center;
    position: fixed;
    bottom: 13%;
    right: 6.1%;
    font-size: 33px;
    font: bold;

    
}





